parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Livewire\\Actions\\Logout\:\:__invoke\(\) never returns Illuminate\\Routing\\Redirector so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Livewire/Actions/Logout.php

		-
			message: '#^Call to an undefined method App\\Providers\\AppServiceProvider\:\:format\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php
