parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method App\\Providers\\AppServiceProvider\:\:format\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php
